<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>webGl Pixi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div>
    <p><a href="/three">three</a></p>
    <p><a href="/">GoTo home</a></p>
</div>
<div class="render">
    <p><b>Тип рендеринга</b><Br>
        <input type="radio" name="render" value=autoDetectRenderer onclick="setRendering(this)" checked>autoDetectRenderer<Br>
        <input type="radio" name="render" value=CanvasRenderer onclick="setRendering(this)">CanvasRenderer<Br>
        <input type="radio" name="render" value=WebGLRenderer onclick="setRendering(this)">WebGLRenderer<Br>
    </p>
</div>
<div class="amount">
    <!--377, 610, 987, 1597, 2584, 4181, 6765, 10946-->
    <p><b>Сколько графиков на странице?</b><Br>
        <input type="radio" name="count" value=1 onclick="setAmount(this)" checked>1<Br>
        <input type="radio" name="count" value=2 onclick="setAmount(this)">2<Br>
        <input type="radio" name="count" value=3 onclick="setAmount(this)">3<Br>
        <input type="radio" name="count" value=5 onclick="setAmount(this)">5<Br>
        <input type="radio" name="count" value=9 onclick="setAmount(this)">9*<Br>
        <input type="radio" name="count" value=10 onclick="setAmount(this)">10*<Br>
        <input type="radio" name="count" value=13 onclick="setAmount(this)">13<Br>
        <input type="radio" name="count" value=21 onclick="setAmount(this)">21<Br>
        <input type="radio" name="count" value=34 onclick="setAmount(this)">34<Br>
        <input type="radio" name="count" value=55 onclick="setAmount(this)">55<Br>
        <input type="radio" name="count" value=89 onclick="setAmount(this)">89<Br>
        <input type="radio" name="count" value=144 onclick="setAmount(this)">144<Br>
        <input type="radio" name="count" value=233 onclick="setAmount(this)">233<Br>
        <br>

        <input type="radio" name="count" value=377 onclick="setAmount(this)">377<Br>
        <input type="radio" name="count" value=610 onclick="setAmount(this)">610<Br>
        <input type="radio" name="count" value=987 onclick="setAmount(this)">987<Br>
        <input type="radio" name="count" value=1597 onclick="setAmount(this)">1597<Br>
        <input type="radio" name="count" value=2584 onclick="setAmount(this)">2584<Br>
        <input type="radio" name="count" value=4181 onclick="setAmount(this)">4181<Br>
        <input type="radio" name="count" value=6765 onclick="setAmount(this)">6765<Br>
        <input type="radio" name="count" value=10946 onclick="setAmount(this)">10946<Br>
    </p>
</div>
<div id="charts"></div>
</body>

<script src="librares/jsface.min.js"></script>
<script src="librares/pixi.min.js"></script>

<script src="librares/underscore.js"></script>
<script src="librares/backbone-min.js"></script>
<script src="librares/d3.min.js"></script>
<script src="librares/jquery-3.1.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!--<script src="js/view.js"></script>-->
<script src="js/newView.js"></script>
<script src="js/main.js"></script>

</html>
