<!DOCTYPE html>
<html>
<head>
    <title>Example 01.01 - Basic skeleton</title>
    <!--<script type="text/javascript" src="./libs/three.js"></script>-->
    <!--<script type="text/javascript" src="./libs/jquery-3.1.0.min.js"></script>-->
    <!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
    <style>
        body{
            /* set margin to 0 and overflow to hidden,
            to use the complete page */
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
<p><a href="/pixi">pixi</a></p>
<p><a href="/">GoTo home</a></p>

<div id="WebGL-output">
</div>
<!--Javascript code that runs our Three.js examples -->

<script src="librares/jquery-3.1.0.min.js"></script>
<script src="librares/three.js"></script>

<script type="text/javascript">

    $(function () {
        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight , 0.1, 1000);
        var renderer = new THREE.WebGLRenderer();

        // renderer.setClearColorHex(0xEEEEEE);
        renderer.setClearColor(new THREE.Color(0xEEEEEE, 1.0));
        renderer.setSize(window.innerWidth, window.innerHeight);

        var axes = new THREE.AxisHelper( 20 );
        scene.add(axes);

        var planeGeometry = new THREE.PlaneGeometry(60,20,1,1);
        var planeMaterial = new THREE.MeshBasicMaterial({color: 0xcccccc});
        var plane = new THREE.Mesh(planeGeometry,planeMaterial);

        plane.rotation.x=-0.5*Math.PI;
        plane.position.x = 15;
        plane.position.y = 0;
        plane.position.z = 0;

        scene.add(plane);


        var cubeGeometry = new THREE.CubeGeometry(4,4,4);
        var cubeMaterial = new THREE.MeshBasicMaterial({color: 0xff0000, wireframe: true});
        var cube = new THREE.Mesh(cubeGeometry, cubeMaterial);

        cube.position.x = -4;
        cube.position.y = 3;
        cube.position.z = 0;
        scene.add(cube);

        var sphereGeometry = new THREE.SphereGeometry(4,20,20);
        var sphereMaterial = new THREE.MeshBasicMaterial({color: 0x7777ff, wireframe: true});
        var sphere = new THREE.Mesh(sphereGeometry,sphereMaterial);

        sphere.position.x = 20;
        sphere.position.y = 4;
        sphere.position.z = 2;
        scene.add(sphere);

        camera.position.x = -30;
        camera.position.y = 40;
        camera.position.z = 30;
        camera.lookAt(scene.position);

        $("#WebGL-output").append(renderer.domElement);
        renderer.render(scene, camera);
    });
</script>
</body>
</html>